<div class="min-h-screen flex flex-col items-center justify-center bg-customGreen px-12">
  <div class="py-4 px-8 mb-8 bg-customGreen1 text-customWhite rounded-3xl transition duration-300 hover:scale-105">
    <%= link_to 'おすすめの観光地を探す', tourist_spot_path, class: "font-bold text-4xl py-16", data: { turbo: false } %>
  </div>
  <div class="py-4 px-8 mb-8 mt-8 bg-customGreen1 text-customWhite rounded-3xl transition duration-300 hover:scale-105">
    <%= link_to 'おすすめの食事処を探す', restaurants_path, class: "font-bold text-4xl", data: { turbo: false } %>
  </div>
  <div class="py-4 px-8 mt-8 bg-customGreen1 text-customWhite rounded-3xl transition duration-300 hover:scale-105">
    <%= link_to 'おすすめの休憩所を探す', rest_areas_path, class: "font-bold text-4xl", data: { turbo: false } %>
  </div>
</div>
