<footer id='footer' class='bg-customGreen py-4 mt-auto'>
  <div class='container mx-auto px-4'>
    <div class='flex justify-center space-x-8'>
      <div class='text-center text-white'>
        <%= link_to '利用規約', '#', class: 'hover:text-gray-300' %>
      </div>
      <div class='text-center text-white'>
        <%= link_to 'プライバシーポリシー', '#', class: 'hover:text-gray-300' %>
      </div>
      <div class='text-center text-white'>
        <%= link_to 'お問い合わせ', '#', class: 'hover:text-gray-300' %>
      </div>
    </div>
  </div>
</footer>
